{% extends "manager/securebase.html" %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading bg-blue">
                    <h2 align="center" class="panel-title mx-auto"><b> City </b></h2>
                    
                <button class="btn btn-primary" data-toggle="modal" data-target="#AddUser">Add New City &nbsp;&nbsp; <i class="fa fa-plus"></i></button>
                {% if messages %}

                    {% for message in messages %}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span align="center"  style="color:rgb(248, 37, 37); font-size:20px;" class="{{message.tags}} mx-auto" >{{message}}</span>
                    {% endfor %}
                      
                  {% endif %}
            </div>
            <div class="panel-body table-responsive">
                <br/>
                <p>
                        <form method="POST" action="{% url 'edit-city' city.id %}">
                            {% csrf_token %}
                            <div class="form-row">
                                    <div class="form-group col-md-6">
                                            <select name="sid" class="form-control" id="">
                                                  <option value="{{city.sid}}">{{city.sid}}</option>
                                                    <option value="0">Select State</option>
                                                        {% for con in states  %}
                                                        <option value="{{con.id}}">{{con.name}}</option>
                                                        {% endfor %}
                                                </select>
                                     </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" value="{{city.name}}" id="inputEmail4" name="name" placeholder="Name">
                                </div>
                            </div>
                             <br>
                            

                            <button type="submit" class="btn btn-block btn-primary">Update</button>
                        </form>
                    </p>
            </div>
        </div>
    </div>
   
  </div>
{% endblock content %}