{% extends "manager/securebase.html" %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading bg-blue">
                    <h2 align="center" class="panel-title mx-auto"><b>Edit Category </b></h2>
                    
                {% if messages %}

                    {% for message in messages %}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span align="center"  style="color:rgb(248, 37, 37); font-size:20px;" class="{{message.tags}} mx-auto" >{{message}}</span>
                    {% endfor %}
                      
                  {% endif %}
            </div>
            <div class="panel-body table-responsive">
                <br/>
                <p>
                        <form method="POST" action="{% url 'edit-category' category.id %}">
                            {% csrf_token %}
                            <div class="form-row">
        
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" value="{{category.name}}" id="inputEmail4" name="name" placeholder="Name">
                                </div>
                            </div>
                             <br>
                            

                            <button type="submit" class="btn btn-block btn-primary">Update</button>
                        </form>
                    </p>
            </div>
        </div>
    </div>
    
  </div>
{% endblock content %}