{% extends "manager/securebase.html" %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading bg-blue">
                    <h2 align="center" class="panel-title mx-auto"><b> Job Application </b></h2>
                    
                <button class="btn btn-primary" data-toggle="modal" data-target="#Addjob">Add New Job Application &nbsp;&nbsp; <i class="fa fa-plus"></i></button>
                {% if messages %}

                    {% for message in messages %}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span align="center"  style="color:rgb(248, 37, 37); font-size:20px;" class="{{message.tags}} mx-auto" >{{message}}</span>
                    {% endfor %}
                      
                  {% endif %}
            </div>
            <div class="panel-body table-responsive">
                <br/>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr class="bg-gray">
                            <th>Job application ID</th>
                            <th>User ID</th>
                        </tr>
                    </thead>
                    <tbody>
                           
                           {% for con in jobapplication  %}
                           <tr>
                                <td>{{ con.jid }}</td>
                                <td>{{ con.uid }}</td>
                                {% if  con.awarded == 0 %}
                                  <td>No</td>
                                {% else %}
                                  <td>Yes</td>
                                {% endif %}
                                
                                
                                
                                <td><a href="{% url 'edit-job-application' con.id %}" class="btn btn-facebook">Edit &nbsp; <i class="fa fa-edit"></i></a>
                                    <a href="{% url 'delete-job-application' con.id %}" class="btn btn-danger">Delete&nbsp; <i class="fa fa-trash"></i></a></td>
                                
                            </tr>
                           {% endfor %}
                            

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="Addjob" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mx-auto">Add New Job Application</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <form method="POST" action="{% url 'create-job-application' %}" >
                            {% csrf_token %}
                            <div class="form-row">
                                    <div class="form-group col-md-6">
                                            <select name="jid" class="form-control" id="">
                                                    <option value="0">Select Job</option>
                                                        {% for jid in jobs  %}
                                                        <option value="{{jid.id}}">{{jid.title}}</option>
                                                        {% endfor %}
                                                </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                            <select name="uid" class="form-control" id="">
                                                    <option value="0">Select User</option>
                                                        {% for user in users  %}
                                                        <option value="{{user.id}}">{{user.username}}</option>
                                                        {% endfor %}
                                                </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                            <label for="">Is Budget Awarded ?</label>
                                              <select name="awarded" class="form-control" id="">
                                                      <option value="0">No</option>
                                                      <option value="1">Yes</option>
                                                  </select>
                                      </div>
                            </div>
                            
                             <br>

                             

                            <button type="submit" class="btn btn-block btn-primary">Add <i class="fa fa-plus"></i></button>
                        </form>
                    </p>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-block btn-danger " data-dismiss="modal">Close</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->
  </div>
{% endblock content %}