<div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link" href="{% url 'list-user'%}">
          <i class="material-icons">assignment_ind</i>
          <p>User</p>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list-profile'%}">
          <i class="material-icons">person</i>
          <p>Profile</p>
        </a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" href="{% url 'list-category'%}">
          <i class="material-icons">library_books</i>
          <p>Category</p>
        </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'list-sub-category'%}">
            <i class="material-icons">library_books</i>
            <p>Sub Category</p>
          </a>
        </li>
        <li class="nav-item active ">
            <a class="nav-link" href="{% url 'list-country'%}">
              <i class="material-icons">library_books</i>
              <p>Country</p>
            </a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'list-state'%}">
                <i class="material-icons">library_books</i>
                <p>State</p>
              </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'list-city'%}">
                  <i class="material-icons">library_books</i>
                  <p>City</p>
                </a>
              </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list-job'%}">
          <i class="material-icons">library_books</i>
          <p>Job</p>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list-job-type'%}">
          <i class="material-icons">library_books</i>
          <p>Job Type</p>
        </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'list-job-category'%}">
            <i class="material-icons">library_books</i>
            <p>Job Category</p>
          </a>
        </li>
      <li class="nav-item active ">
        <a class="nav-link" href="{% url 'list-job-application'%}">
          <i class="material-icons">library_books</i>
          <p>Job Application</p>
        </a>
      </li>
      <li class="nav-item active ">
          <a class="nav-link" href="{% url 'list-usertype'%}">
            <i class="material-icons">library_books</i>
            <p>User Type</p>
          </a>
        </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list-notification'%}">
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        </a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'log-out'%}">
          <i class="material-icons">exit_to_app</i>
          <p>Log Out</p>
        </a>
      </li>
    </ul>
  </div>